%h1#welcome= t('homepage.welcome_member')

#qiren_games_container
  %h2#qiren_games_label= t('homepage.qiren_games.label')

  = render_games_widget @qiren_games

%hr.space

- if @my_uploads.size > 0
  #my_uploads_container
    %h2#my_uploads_label= t('homepage.my_uploads.label')

    = render_uploads_widget @my_uploads
