%h1#welcome= t('homepage.welcome_member').sub('USERNAME', @current_user.username)

= render :partial => "invitations/invitations"

- unless @games_of_my_turn.blank?
  %hr.space
  #games_of_my_turn_container
    %h2= t('games.games_of_my_turn')

    = render_games_widget @games_of_my_turn

- unless @games_of_not_my_turn.blank?
  %hr.space
  #games_of_not_my_turn_container
    %h2= t('games.games_of_not_my_turn')

    = render_games_widget @games_of_not_my_turn

- unless @my_finished_games.blank?
  %hr.space
  #my_finished_games_container
    %h2= t('games.my_finished_games')

    = render_games_widget @my_finished_games

%hr.space

#qiren_games_container
  %h2#qiren_games_label= t('homepage.qiren_games.label')

  = render_games_widget @qiren_games


- unless @my_uploads.blank?
  %hr.space
  #my_uploads_container
    %h2#my_uploads_label= t('homepage.my_uploads.label')

    = render_uploads_widget @my_uploads
