#recent_games.active-scaffold.blue-theme
  #recent_games_pagination.digg_pagination= will_paginate @recent_uploads, :previous_label => t('link.pagination.prev'), :next_label => t('link.pagination.next')
  
  %table#recent_games_table
    %thead
      %tr.header
        %th#game_name_column=    t('games_widget.game_name')
        %th#black_player_column= t('games_widget.black_player')
        %th#white_player_column= t('games_widget.white_player')
        %th#handicap_column=     t('games_widget.handicap')
        %th#komi_column=         t('games_widget.komi')
        %th#moves_column=        t('games_widget.moves')
        %th#result_column=       t('games_widget.result')
        %th#play_time_column=    t('games_widget.play_time')
        %th#place_column=        t('games_widget.place')
        %th#create_time_column=  t('games_widget.create_time')
        %th#actions_column &nbsp;
    %tbody.records
      = render :partial => 'recent_game', :collection => @recent_uploads, :as => :upload
