%h1#welcome= t('homepage.welcome')
%p#description= t('homepage.description')

= render :partial => "paragraph1"

#recent_games_container
  %h2#recent_games_label= t('homepage.recent_games.label')

  = render_uploads_widget @uploads
