%form.bp{:action=>game_sources_url, :name=>"uploadForm", :enctype=>"multipart/form-data", :method=>"post"}
  %fieldset.span-18
    = show_flash 'span-18'

    .form_row.span-18
      .span-3
        %label(for="upload_upload")
          %span.required_field *
          = t('uploads.file_label')
      .span-15.last
        #file_fields
          %input#upload_upload(type="file" name="upload[upload]" size="60")

    %hr.space
    .span-14{:align => 'center'}
      %input.upload_submit(type="submit" name="commit"){:value => t('uploads.submit_button')}
      %input(type="reset" id="resetButton"){:value => t('form.reset_button')}

    .form_legend.span-18
      %span
        %span.required_field *
        = t('form.marked_required')

- content_for :footer do
  = javascript_include_tag "upload"
  :javascript
    validanguage.el.upload_upload = {
      required: true,
      errorMsg: "#{t('uploads.file_required')}"
    };
