%form.bp{:action=>game_sources_url, :name=>"uploadForm", :enctype=>"multipart/form-data", :method=>"post"}
  %fieldset.span-18.no-border
    - if @upload_type == GameSourcesController::UPLOAD_FILE
      = show_flash 'span-18'

    .form_row.span-18
      .span-3
        %label(for="upload_description")
          =t('uploads.description_label')
      .span-15.last
        %input#upload_description(type="text" name="upload_description" size="80")
        %p= t('uploads.description_note')

    .form_row.span-18
      .span-3
        %label(for="upload_upload")
          %span.required_field *
          = t('uploads.file_label')
      .span-15.last
        #file_fields
          %input#upload_upload(type="file" name="upload[upload]" size="60")
        %p= t('uploads.zip_file_note')

    %hr.space
    .span-14{:align => 'center'}
      %input(type='hidden' name='upload_type' value='file')
      %input.upload_submit{:type => "submit", :name => "commit", :value => t('uploads.submit_button')}
      %input#resetButton{:type => "reset", :value => t('form.reset_button')}

- content_for :footer do
  :javascript
    validanguage.el.upload_upload = {
      required: true,
      errorMsg: "#{t('uploads.file_required')}"
    };
