- content_for :head do
  = stylesheet_link_tag "jquery.autocomplete"

%h1= @page_header || t('pairs.page_header')

-form_tag pairs_path, :method => :get, :class => 'bp' do
  .span-24
    = show_flash 'span-24'
    %table#pairs_search_form
      %tr
        %td
          %span
            %label(for="platform")
              = t('games.platform_label')
            =gaming_platforms_select 'platform', @platform
        %td
          %label#player1_label(for="player1")
            %em.msg
              = t('games.player1_label')
          =text_field_tag 'player1', @player1, :class => 'ac_input'
          =hidden_field_tag 'player1_id', @player1_id
        %td
          %label#vs_label(for="player2")
            = t('games.vs_label')
        %td
          %label#player2_label(for="player2")
            %em.msg
              = t('games.player2_label')
          =text_field_tag 'player2', @player2, :class => 'ac_input'
          =hidden_field_tag 'player2_id', @player2_id
        %td
          %input{:type => "hidden", :name => "op", :value => "search"}
          =submit_tag t('form.search_button')
          =reset_button

%hr.space
#pairs_widget_container
  - if @pair
    = render :partial => "pair"

- content_for :footer do
  = javascript_include_tag "validanguage_uncompressed", "jquery.autocomplete"
  :javascript
    jQuery("#platform").change(function(){
      jQuery("#player1, #player2, #player1_id, #player2_id").val("");
    });
    jQuery("#player1").change(function(){
      jQuery("#player2, #player2_id").val("");
    });
    jQuery("#player1").autocomplete("#", {
      makeUrl: function(q) {
        return "#{suggest_players_path}?name=" + q + "&platform=" + jQuery("#platform").val();
      },
      delay:10,
      minChars:1,
      matchSubset:1,
      matchContains:1,
      mustMatch:0,
      cacheLength:1,
      autoFill:true,
      selectFirst:true,
      selectOny:true,
      onItemSelect: function(li) {
        jQuery('#player1_id').val(li.extra);
      }
    });

    jQuery("#player2").autocomplete("#", {
      makeUrl: function(q) {
        var player1_id = jQuery('#player1_id').val();
        if (player1_id && player1_id.length == 0) return;

        return "#{suggest2_players_path}?platform=" + jQuery("#platform").val() + "&player_id=" + player1_id + "&name=" + q;
      },
      delay:10,
      minChars:0,
      matchSubset:1,
      matchContains:1,
      mustMatch:0,
      cacheLength:1,
      autoFill:true,
      selectFirst:true,
      selectOny:true,
      onItemSelect: function(li) {
        jQuery('#player2_id').val(li.extra);
      }
    });

    jQuery("#player2").focus(function(){
      this.autocompleter.trigger();
    });

    validanguage.el.player1 = {
      validations: [
        {
          name: validanguage.validateRequired,
          errorMsg: "#{t('pairs.player1_required')}",
        }
      ]
    };
    validanguage.el.player2 = {
      validations: [
        {
          name: validanguage.validateRequired,
          errorMsg: "#{t('pairs.player2_required')}",
        }
      ]
    };
