- content_for :head do
  = stylesheet_link_tag "date_input.css"

%h1= @page_header || t('upload_search.page_header')

-# shortcuts: my uploads, today's uploads, yesterday' uploads, this week's uploads, last week's uploads etc.
-# search by description
-# search by upload time

= render :partial => "search_by_description"
= render :partial => "search_by_date"

%hr.space

- content_for :footer do
  = javascript_include_tag %w(validanguage_uncompressed jquery.date_input jquery.date_input.zh_CN)
  :javascript
    jQuery(jQuery.date_input.initialize);
