semantic_form_for @game do |form|

  form.inputs :name => "Basic" do
    = form.input :name
    = form.input :event
    = form.input :place
    = form.input :played_at
    = form.input :black_name
    = form.input :black_player
    = form.input :white_name
    = form.input :white_player
    = form.input :result

  form.inputs :name => "Advanced" do
    = form.input :state
    = form.input :moves
    = form.input :winner
    = form.input :win_points

  form.buttons do
    = form.commit_button
