%h2= t('players.opponents_header')

#opponents_result.span-24.active-scaffold.blue-theme
  -# #opponents_result_pagination.digg_pagination= will_paginate @opponents, :previous_label => t('link.pagination.prev'), :next_label => t('link.pagination.next')
  %table
    %thead
      %tr.header
        %th.name_column= t('players_table.opponent')
        %th.games_column= t('players_table.games')
        %th.won_column= t('players_table.my_won')
        %th.lost_column= t('players_table.my_lost')
        %th.actions_column &nbsp;
    %tbody.records
      = render :partial => 'shared/opponent', :collection => @opponents

