%a{:href => url}= t('link.download_sgf')
#gameContainer

- content_for :footer do
  - if @game and not @game.finished? and @game.current_user_is_player?
    = javascript_include_tag "jsgameviewer_ext"
    :javascript
      jQuery(document).ready(function(){
        new GameController({container: "gameContainer"}).createGocoolPlayer().loadGocoolGame(#{@game.id}).
          setPlayerInterval(15).startUpdater(true).saveSession("#{ENV['DISCUZ_KEEP_ALIVE_URL']}", #{ENV['FORUM_KEEP_ALIVE_INTERVAL'].to_i});
      });
  - else
    :javascript
      jQuery(document).ready(function(){
        new GameController({container: "gameContainer"}).load("#{url}");
      });
