%a{:href => url}= t('link.download_sgf')

- if @game and not @game.finished? and @game.current_user_is_player?
  &nbsp;&nbsp;&nbsp;&nbsp;
  %a{:href => undo_guess_moves_game_url}= t('link.undo_guess_moves')
  &nbsp;&nbsp;&nbsp;&nbsp;
  %a{:href => next_game_url}= t('link.next_game')

#gameContainer

- if @game and not @game.finished? and @game.current_user_is_player?
  -#%div(style="width:720px")
    TODO: messages go here
    
  %div(style="width:720px")
    %p 棋人对弈最特殊的功能是猜测对方的应手。
    %p
      也就是说，不管是轮到你走，还是轮到对方走，你都可以随时在盘上下子，棋步会保存到服务器端。等到对方下子后，服务器会比较双方的位置，如果位置一致，
      则预测的棋步成为实战。如果不一致，则预测的棋步被取消。
    %p
      任何一方只能看到自己预测的棋步。
    %p
      此功能可广泛用于定式，中盘战斗，打劫以及官子定型等。

- content_for :footer do
  - if @game and not @game.finished? and @game.current_user_is_player?
    = javascript_include_tag "jsgameviewer_ext"
    :javascript
      var gameType  = #{@game.game_type.to_i == Game::DAOQI} ? jsGameViewer.DAOQI : jsGameViewer.WEIQI;
      var gameState = "#{@game.state}";
      var myColor   = #{@my_color.to_i};
      jQuery(document).ready(function(){
        new GameController({gameType: gameType, container: "gameContainer"}).createGocoolPlayer().loadGocoolGame(#{@game.id}).
          setPlayerInterval(15).startUpdater(true).saveSession("#{ENV['DISCUZ_KEEP_ALIVE_URL']}", #{ENV['FORUM_KEEP_ALIVE_INTERVAL'].to_i});
      });

    -# if ENV['JUGGERNAUT_INTEGRATION'] == 'true'
      = javascript_include_tag %w(jquery.json juggernaut/juggernaut juggernaut/jquerynaut juggernaut/swfobject)
      = juggernaut(:channels => my_channels, |
                   :swf_address => "/app/juggernaut/juggernaut.swf", |
                   :ei_swf_address => "/app/juggernaut/expressinstall.swf") |
      :javascript
        jQuery(document).ready(function(){
          new GameController({gameType: gameType, container: "gameContainer"}).createGocoolPlayer().loadGocoolGame(#{@game.id}).
            saveSession("#{ENV['DISCUZ_KEEP_ALIVE_URL']}", #{ENV['FORUM_KEEP_ALIVE_INTERVAL'].to_i});
        });
    -# else
      :javascript
        jQuery(document).ready(function(){
          new GameController({gameType: gameType, container: "gameContainer"}).createGocoolPlayer().loadGocoolGame(#{@game.id}).
            setPlayerInterval(15).startUpdater(true).saveSession("#{ENV['DISCUZ_KEEP_ALIVE_URL']}", #{ENV['FORUM_KEEP_ALIVE_INTERVAL'].to_i});
        });

  - else
    :javascript
      jQuery(document).ready(function(){
        new GameController({container: "gameContainer"}).load("#{url}");
      });
