%tr{:class => "record " + (upload_counter%2 == 0 ? "even-record":"")}
  %td= upload.game.created_at.strftime("%Y-%m-%d %I:%M%p")
  %td
    = "#{h upload.description}&nbsp;"
  =black_player_html(upload.game)
  =white_player_html(upload.game)
  %td
    = "#{h upload.game.handicap_str}&nbsp;"
  %td
    = "#{h upload.game.komi_str}&nbsp;"
  %td
    = "#{upload.game.moves}&nbsp;"
  %td
    = "#{h upload.game.result}&nbsp;"
  %td
    = "#{h upload.game.played_at_raw}&nbsp;"
  %td
    = "#{h upload.game.place}&nbsp;"
  %td.actions
    %a{:target => "_new#{rand(1000)}", :href => upload_url(upload)}= t('form.view_button')
    =discuz_thread_html(upload)
