#recent_games_container.active-scaffold.blue-theme
  #recent_games_pagination.digg_pagination= will_paginate @recent_game_sources, :previous_label => t('link.pagination.prev'), :next_label => t('link.pagination.next')
  
  %table#recent_games_table
    %thead
      %tr.header
        %th#game_name_column= t('homepage.recent_games.game_name')
        %th#black_player_column= t('homepage.recent_games.black_player')
        %th#white_player_column= t('homepage.recent_games.white_player')
        %th#moves_column= t('homepage.recent_games.moves')
        %th#result_column= t('homepage.recent_games.result')
        %th#play_time_column= t('homepage.recent_games.play_time')
        %th#place_column= t('homepage.recent_games.place')
        %th#create_time_column= t('homepage.recent_games.create_time')
        %th#actions_column &nbsp;
    %tbody.records
      = render :partial => 'recent_game', :collection => @recent_game_sources, :as => :game_source
      

