- if uploads.blank?
  = t("games_widget.upload_not_found")
- else
  .uploads
    .digg_pagination=raw will_paginate(uploads, :previous_label => t('link.pagination.prev'), :next_label => t('link.pagination.next'), :param_name => 'uploads_page')

    %table.table
      %thead
        %tr.header
          %th.create_time_column=  t('games_widget.create_time')
          %th.description_column=  t('games_widget.upload_description')
          %th.black_player_column= t('games_widget.black_player')
          %th.white_player_column= t('games_widget.white_player')
          %th.handicap_column=     t('games_widget.handicap')
          %th.komi_column=         t('games_widget.komi')
          %th.moves_column=        t('games_widget.moves')
          %th.result_column=       t('games_widget.result')
          %th.play_time_column=    t('games_widget.play_time')
          %th.place_column=        t('games_widget.place')
          %th.actions_column=      t('table.actions_label')
      %tbody.records
        = render :partial => 'widgets/upload', :collection => uploads, :as => :upload
