%tr{:class => "record " + (upload_counter%2 == 0 ? "even-record":"")}
  %td= upload.game.created_at.strftime("%Y-%m-%d")
  %td
    =raw "#{upload.description}"
  =raw black_player_html(upload.game)
  =raw white_player_html(upload.game)
  %td
    = "#{upload.game.handicap_str}"
  %td
    = "#{upload.game.komi_str}"
  %td
    = "#{upload.game.moves}"
  %td
    = "#{upload.game.result}"
  %td
    = "#{upload.game.played_at_raw}"
  %td
    = "#{upload.game.place}"
  %td.actions
    %a{:target => "_new#{rand(1000)}", :href => upload_url(upload)}= t('form.view_button')
