- if @invitations_by_me.blank?
  = t('invitations.none')
- else
  %table.table
    %thead
      %tr.header
        %th.created_at_column= t('invitations.created_at_label')
        %th.state_column=     t('invitations.state_label')
        %th.game_type_column= t('invitations.game_type_label')
        %th.invitees_column=    t('invitations.invitees_table_label')
        %th.start_side_column= t('invitations.start_side_label')
        %th.handicap_column= t('invitations.handicap_label')
        %th.note_column=       t('invitations.note_label')
        %th.actions_column=    t('table.actions_label')
    %tbody.records
      = render :partial => 'invitations/invitation_by_me', :collection => @invitations_by_me, :as => :invitation
