- if @invitations_by_me.blank?
  = t('invitations.none')
- else
  .active-scaffold.blue-theme
    %table
      %thead
        %tr.header
          %th.created_at_column= t('invitations.created_at_label')
          %th.state_column=     t('invitations.state_label')
          %th.inviter_column=    t('invitations.inviter_label')
          %th.start_side_column= t('invitations.start_side_label')
          %th.note_column=       t('invitations.note_label')
          %th.actions_column     &nbsp;
      %tbody.records
        = render :partial => 'invitation_to_me', :collection => @invitations_to_me, :as => :invitation
