.header_with_link
  .span-4
    %h1= t('invitations.page_header')
  %a(href="#{new_invitation_url}")
    = t('invitations.create_link_label')

%hr.space0

%h2= t('invitations.invitations_sent_to_me')
#invitations_container
  =render 'invitations_to_me'

%h2= t('invitations.invitations_sent_by_me')
#invitations_container
  =render 'invitations'
