%h1= t('invitations.create_page_header')

%form.bp{:action=>invitations_url, :method=>"post"}
  = show_flash 'span-24'

  %fieldset.span-18.no-border
    -#.form_row.span-18
      .span-3
        %label(for="invitation_game_type")
          = t('invitations.game_type_label')
      .span-15.last
        = radio_button "invitations", "game_type", "1"
        = t('games.weiqi_label')
        = radio_button "invitations", "game_type", "2"
        = t('games.daoqi_label')

    .form_row.span-18
      .span-3
        %label(for="invitation_invitees")
          %span.required_field *
          =t('invitations.invitees_label')
      .span-15.last
        %input#invitation_invitees(type="text" name="invitation[invitees]" size="80" value="#{@invitees}")

    .form_row.span-18
      .span-3
        %label(for="invitation_start_side")
          = t('invitations.start_side_label')
      .span-15.last
        =start_side_select

    .form_row.span-18
      .span-3
        %label(for="invitation_handicap")
          = t('invitations.handicap_label')
      .span-15.last
        =handicap_select

    .form_row.span-18
      .span-3
        %label(for="invitation_rule")
          = t('invitations.rule_label')
      .span-15.last
        =t('invitations.chinese_rule')

    .form_row.span-18
      .span-3
        %label(for="invitation_note")
          = t('invitations.note_label')
      .span-15.last
        %input#invitation_note(type="text" name="invitation[note]" size="80" value="#{@note}")

    %hr.space
    .span-14{:align => 'center'}
      %input{:type => "submit", :name => "commit", :value => t('form.submit_button')}
      %input{:type => "reset", :value => t('form.reset_button')}

- content_for :footer do
  - if @errors
    :javascript
      showErrors(#{@errors.to_json});
  :javascript
    validanguage.el.invitation_invitees = {
      required: true,
      errorMsg: "#{t('invitations.invitees_required')}"
    };
    jQuery('#invitation_handicap').change(function(){
      var handicap = jQuery(this).val();
      if (handicap == "0") {
        if (jQuery('#invitation_start_side option[value=0]').length == 0) {
          jQuery('#invitation_start_side').prepend("<option value='0'>#{t('invitations.random_start')}</option>");
        }
      } else {
        var start_side = jQuery('#invitation_start_side').val();
        if (start_side == '0') {
          alert("#{t('invitations.reselect_start_side')}");
          jQuery('#invitation_start_side option[value=0]').remove();
        }
      }
    });
