%h1= t('invitations.create_page_header')

= form_tag invitations_url do
  %fieldset
    .row
      .span3
        %label(for="invitation_game_type")
          = t('invitations.game_type_label')
      .span9
        %input(id="invitations_game_type" name="invitation[game_type]" type="radio" value="1" checked="checked")
        = t('games.weiqi_label')
        %input(id="invitations_game_type" name="invitation[game_type]" type="radio" value="2")
        = t('games.daoqi_label')

    .row
      .span3
        %label(for="invitation_invitees")
          = t('invitations.invitees_label')
          =raw mark_required
      .span9
        %input#invitation_invitees(type="text" name="invitation[invitees]" size="80" value="#{@invitees}")

    .row
      .span3
        %label(for="invitation_start_side")
          = t('invitations.start_side_label')
      .span9
        =start_side_select

    .row
      .span3
        %label(for="invitation_handicap")
          = t('invitations.handicap_label')
      .span9
        =handicap_select

    .row
      .span3
        %label(for="invitation_rule")
          = t('invitations.rule_label')
      .span9
        =t('invitations.chinese_rule')

    .row
      .span3
        %label(for="invitation_note")
          = t('invitations.note_label')
      .span9
        %input#invitation_note(type="text" name="invitation[note]" size="80" value="#{@note}")

    .row
      .offset3.span9
        %input{:type => "submit", :name => "commit", :value => t('form.submit_button')}
        %input{:type => "reset", :value => t('form.reset_button')}

- content_for :footer do
  - if @errors
    :javascript
      showErrors(#{@errors.to_json});
  :javascript
    validanguage.el.invitation_invitees = {
      required: true,
      errorMsg: "#{t('invitations.invitees_required')}"
    };
    jQuery('#invitation_handicap').change(function(){
      var handicap = jQuery(this).val();
      if (handicap == "0") {
        if (jQuery('#invitation_start_side option[value=0]').length == 0) {
          jQuery('#invitation_start_side').prepend("<option value='0'>#{t('invitations.random_start')}</option>");
        }
      } else {
        var start_side = jQuery('#invitation_start_side').val();
        if (start_side == '0') {
          alert("#{t('invitations.reselect_start_side')}");
          jQuery('#invitation_start_side option[value=0]').remove();
        }
      }
    });
