%h1= t('invitations.page_header')

- form_tag invitation_path(@invitation), :method=>:put, :class => "bp" do
  = show_flash 'span-24'

  .span-18.no-border
    .form_row.span-18
      .span-3
        %label(for="invitation_game_type")
          =t('invitations.game_type_label')
      .span-15.last
        #invitation_game_type= @invitation.game_type_str
        
    .form_row.span-18
      .span-3
        %label(for="invitation_inviter")
          =t('invitations.inviter_label')
      .span-15.last
        #invitation_inviter= @invitation.inviter.username

    .form_row.span-18
      .span-3
        %label(for="invitation_invitees")
          =t('invitations.invitees_label')
      .span-15.last
        #invitation_invitees= @invitation.invitees_str

    .form_row.span-18
      .span-3
        %label(for="invitation_start_side")
          = t('invitations.start_side_label')
      .span-15.last
        = @invitation.start_side_str

    .form_row.span-18
      .span-3
        %label(for="invitation_handicap")
          = t('invitations.handicap_label')
      .span-15.last
        = @invitation.handicap_str

    .form_row.span-18
      .span-3
        %label(for="invitation_rule")
          = t('invitations.rule_label')
      .span-15.last
        = t('invitations.chinese_rule')

    .form_row.span-18
      .span-3
        %label(for="invitation_note")
          = t('invitations.note_label')
      .span-15.last
        = @invitation.note

    - if @invitation.state == 'new' and (@invitation.created_by_me? or @invitation.for_me?)
      .form_row.span-18
        .span-3 &nbsp;
        .span-15.last
          - if @invitation.created_by_me?
            %input{:type => "submit", :name => "cancel", :value => t('invitations.cancel')}
          - else
            %input{:type => "submit", :name => "accept", :value => t('invitations.accept')}
            %input{:type => "submit", :name => "reject", :value => t('invitations.reject')}
