- content_for :footer do
  :javascript
    if (history.length <= 1) document.getElementById("backLink").innerHTML = "";

  = render "shared/jsgameviewer"

= show_flash 'span-24'

.span-24
  %h3= t('games.show_page_header').sub('GAME_NO', @game.id.to_s).sub('WHITE', @game.white_name_with_rank).sub('BLACK', @game.black_name_with_rank)
  %a(href="/bbs/index.php")= t('link.forum_home')
  &nbsp;&nbsp;&nbsp;&nbsp;
  %a(href="/app")= t('link.home')
  &nbsp;&nbsp;&nbsp;&nbsp;
  %span#backLink
    %a(href="javascript:history.back();")= t('link.back')
    &nbsp;&nbsp;&nbsp;&nbsp;
  %a(href="javascript:window.close();")= t('link.close')
  &nbsp;&nbsp;&nbsp;&nbsp;
  = render :partial => "shared/show_game", :locals => {:url => game_url(@game, :format => :sgf)}
