%h1=@page_header || t('pasties.page_header')

-form_for :pastie, :html => {:class => 'bp'} do |form|
  %fieldset.span-18
    = show_flash 'span-18'
    .form_row.span-18
      .span-3
        = form.label :email, mark_required + t('email.label')
      #emailContainer.span-15.last
        -if show_masked_email?
          %span#upload_masked_email.email_edit
            = masked_email
            %span.note
              = t('form.click_to_change')
        -else
          = form.text_field :email, "maxlength" => 60

    .form_row.span-18
      .span-3
        = form.label :data, mark_required + t('pasties.data_label')
      .span-15.last
        = form.text_area :data, :cols => 120, :rows => 20

    %hr.space
    .span-18{:align => 'center'}
      = form.submit t('form.submit_button')
      %input{:type => "reset", :value => t('form.reset_button')}
    
    .form_legend.span-18
      %span
        = mark_required
        = t('form.marked_required')

- content_for :footer do      
  = javascript_include_tag "validanguage_uncompressed"
  :javascript
    validanguage.el.pastie_email = {
      validations: [
        {
          name: validanguage.validateRequired,
          errorMsg: "#{t('email.required')}",
        },
        {
          name: validanguage.validateEmail,
          errorMsg: "#{t('email.invalid')}"
        }
      ]
    };
    validanguage.el.pastie_data = {
      required: true,
      errorMsg: "#{t('pasties.data_required')}"
    };