%h1=@page_header || t('pastie.page_header')
-form_for :pastie, :html => {:class => 'bp'} do |form|
  %fieldset.span-18
    -if flash[:success]
      .span-18
        .success= flash[:success]
    -elsif flash[:error]
      .span-18
        .error= flash[:error]
    .form_row.span-18
      .span-2
        = form.label :email, mark_required + t('email.label')
      #emailContainer.span-16.last
        -if show_masked_email?
          %span#upload_masked_email.email_edit
            = masked_email
            %span.note
              = t('form.click_to_change')
        -else
          = form.text_field :email, "maxlength" => 60

    .form_row.span-18
      .span-2
        = form.label :data, mark_required + t('pastie.data_label')
      .span-16.last
        = form.text_area :data, :cols => 120, :rows => 20

    %hr.space
    .span-18{:align => 'center'}
      = form.submit t('form.submit_button')
      %input{:type => "reset", :value => t('form.reset_button')}
    
    .form_legend.span-18
      %span
        = mark_required
        = t('form.marked_required')
      
= javascript_include_tag "/validanguage/validanguage_uncompressed.js"
-# :javascript
-#   validanguage.el.pastie_email = {
-#     required: true,
-#     errorMsg: "#{t('email.required')}"
-#   };
-#   validanguage.el.pastie_data = {
-#     required: true,
-#     errorMsg: "#{t('pastie.data_required')}"
-#   };