%tr{:class => "record " + (opponent_counter%2 == 0 ? "even-record":"")}
  %td= opponent.opponent.full_name
  %td= opponent.games
  %td= opponent.games_won
  %td= opponent.games_lost
  %td.actions
    %a{:href => url_for_opponent(opponent.opponent)}= t('form.detail_button')
