- if @players_for_widget.size > 0
  .players.span-24.active-scaffold.blue-theme
    .digg_pagination= will_paginate @players_for_widget, :previous_label => t('link.pagination.prev'), :next_label => t('link.pagination.next'), :param_name => 'players_page'
    %table
      %thead
        %tr.header
          - if @players.first.is_a? OnlinePlayer
            %th.platform_column= t('players_table.platform')
          %th.name_column= t('players_table.name')
          %th.games_column= t('players_table.games')
          %th.won_column= t('players_table.won')
          %th.lost_column= t('players_table.lost')
          %th.actions_column &nbsp;
      %tbody.records
        = render :partial => 'players_widget/player', :collection => @players_for_widget, :as => :player

- else
  = t('players_table.player_not_found')
