%tr{:class => "record " + (player_counter%2 == 0 ? "even-record":"")}
  %td= player.id
  %td= player.gaming_platform.nil_or.name
  %td=h player.name
  %td= player.stat.games
  %td= player.stat.games_won
  %td= player.stat.games_lost
  %td.actions
    %a{:href => player_url(player)}= t('form.detail_button')
