%tr{:class => "record " + (upload_result_counter%2 == 0 ? "even-record":"")}
  %td= upload_result.upload.file_file_name
  %td= display_upload_status(upload_result)
  %td= display_upload_detail(upload_result)
  %td.actions
    - if upload_result.status == UploadResult::SUCCESS
      %a{:href => upload_url(upload_result.upload)}= t('form.view_button')
    - elsif upload_result.status == UploadResult::FOUND
      %a{:href => upload_url(upload_result.found_upload)}= t('form.view_button')
