- content_for :footer do
  = javascript_include_tag "upload"
  = javascript_include_tag "validanguage_uncompressed"

%h1= t('uploads.page_header')

#upload_forms
  = render :partial => 'upload_file_form'
  %hr.no-margin

  = render :partial => 'upload_url_form'
  %hr.no-margin
  
  = render :partial => 'upload_sgf_form'
