%h1=@page_header || t('upload.page_header')
%form.bp{:action => "/uploads", :enctype => "multipart/form-data", :method => "post"} 
  %fieldset.span-18
    -if flash[:success]
      .span-18
        .success= flash[:success]
    -elsif flash[:error]
      .span-18
        .error= flash[:error]
    .form_row.span-18
      .span-2
        %label{:for => "upload_email"}
          %span.required_field *
          = t('email.label')
      #emailContainer.span-16.last
        -if show_masked_email?
          %span#upload_masked_email.email_edit
            = masked_email
            %span.note
              = t('form.click_to_change')
        -else
          %input#upload_email{:type => "text", :name => "upload[email]", :maxlength => "60", :size => "60"}

    .form_row.span-18
      .span-2
        %label{:for => "upload_upload"}
          %span.required_field *
          = t('upload.file_label')
      .span-16.last
        #file_fields
          %input#upload_upload{:type => "file", :name => "upload[upload]", :size => "60"}

    %hr.space
    .span-14{:align => 'center'}
      %input.upload_submit{:type => "submit", :name => "commit", :value => t('upload.submit_button')}
      %input{:type => "reset", :value => t('form.reset_button')}
    
    .form_legend.span-18
      %span
        %span.required_field *
        = t('form.marked_required')
      
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript"}
= javascript_include_tag "upload"
= javascript_include_tag "/validanguage/validanguage_uncompressed.js"
:javascript
  validanguage.el.upload_email = {
    required: true,
    errorMsg: "#{t('email.required')}",
    validations: [
      {
        name: "validanguage.validateEmail(text)",
        errorMsg: "#{t('email.invalid')}"
      }
    ]
  };
  validanguage.el.upload_upload = {
    required: true,
    errorMsg: "#{t('upload.file_required')}"
  };