%h1=@page_header || t('upload.page_header')
-form_for :upload, :html => {:multipart => true, :class => 'bp'} do |form|
  %fieldset.span-10
    -if flash[:success]
      .span-10
        .success= flash[:success]
    -elsif flash[:error]
      .span-10
        .error= flash[:error]
    .span-2
      = form.label :email, t('upload.email_label')
    .span-8.last
      = form.text_field :email, "maxlength" => 40

    .span-2
      = form.label :upload, t('upload.file_label')
    .span-8.last
      #file_fields
        = form.file_field :upload
    %hr.space
    .span-10{:align => 'center'}
      = form.submit t('upload.submit_button')
      %input{:type => "reset", :value => t('upload.reset_button')}
      
%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js", :type => "text/javascript"}
= javascript_include_tag "upload"