%tr{:class => "record " + (game_counter%2 == 0 ? "even-record":"")}
  %td
    = "#{h game.name}&nbsp;"
  =black_player_html(game)
  =white_player_html(game)
  %td
    = "#{h game.handicap_str}&nbsp;"
  %td
    = "#{h game.komi_str}&nbsp;"
  %td
    = "#{game.moves}&nbsp;"
  %td
    = "#{h game.result}&nbsp;"
  %td
    = "#{h game.played_at_raw}&nbsp;"
  %td
    = "#{h game.place}&nbsp;"
  %td
    = "#{upload_description_html(game.primary_source)}&nbsp;"
  %td.actions
    = view_game_html(game)
