:javascript
  var environment = "#{Rails.env}";
  var controller_name = "#{params[:controller]}";
  var playersUrl = "#{players_url}";
  var gamesUrl = "#{games_url}";
  var playerSuggestUrl = "#{suggest_players_path}";

  function logMessage(message) {
    if (environment == 'development') console.log(message);
  }
