#myslidemenu.jqueryslidemenu
  %ul
    %li
      %a(href="/")= t('menu.home')
    %li
      %a(href="/uploads")= t('menu.uploads')
    %li
      %a(href="/pasties")= t('menu.pasties')
    %li
      %a(href="/players")= t('menu.players')
    %li
      %a(href="/games")= t('menu.games')
    -# %li
    -#   %a(href="#")= t('menu.tournaments')
    -#   %ul
    -#     %li
    -#       %a(href="#") Ying's Cup
    -#     %li
    -#       %a(href="#") Samsung's Cup
    %li#locale_zh_cn
      %a(href="javascript:changeLocale('zh_cn')")  中文 
    %li#locale_en_us
      %a(href="javascript:changeLocale('en_us')") EN
  %br(style="clear:left")