#myslidemenu.jqueryslidemenu
  %ul
    %li.homepage
      %a{:href=>root_url}= t('menu.home')
    %li.uploads
      %a{:href=>uploads_url}= t('menu.uploads')
    %li.upload_search
      %a{:href=>upload_search_url}= t('menu.upload_search')
    %li.players
      %a{:href=>players_url}= t('menu.players')
    %li.pairs
      %a{:href=>pairs_url}= t('menu.pairs')
    %li.games
      %a{:href=>games_url}= t('menu.games')

    - if user_signed_in?
      %li.my_uploads
        %a{:href=>my_uploads_url}= t('menu.my_uploads')

    = render "devise/menu/login_items"
    = render "devise/menu/registration_items"

  %br(style="clear:left")
