#myslidemenu.jqueryslidemenu
  %ul
    %li.homepage
      %a{:href=>root_url}= t('menu.home')
    %li.uploads
      %a{:href=>uploads_url}= t('menu.uploads')
    %li.upload_search
      %a{:href=>upload_search_url}= t('menu.upload_search')
    %li.players
      %a{:href=>players_url}= t('menu.players')
    %li.pairs
      %a{:href=>pairs_url}= t('menu.pairs')
    %li.games
      %a{:href=>games_url}= t('menu.games')
    - if logged_in?
      %li
        &nbsp;&nbsp;&nbsp;&nbsp;
      %li.my_uploads
        %a{:href=>my_uploads_url}= t('menu.my_uploads')
      -# %li.my_favorites
      -#   %a{:href=>'#'}= t('menu.my_favorites')
    -# %li
    -#   %a(href="#")= t('menu.tournaments')
    -#   %ul
    -#     %li
    -#       %a(href="#") Ying's Cup
    -#     %li
    -#       %a(href="#") Samsung's Cup
    -# %li#locale_zh_cn
    -#   %a(href="javascript:changeLocale('zh_cn')")  中文
    -# %li#locale_en_us
    -#   %a(href="javascript:changeLocale('en_us')") EN
  %br(style="clear:left")
