#myslidemenu.jqueryslidemenu
  %ul
    %li
      %a(href="/")= t('menu.home')
    %li
      %a(href="/uploads")= t('menu.uploads')
    %li
      %a(href="/pasties")= t('menu.pasties')
    %li
      %a(href="#")= t('menu.players')
    %li
      %a(href="#")= t('menu.games')
    %li
      %a(href="#")= t('menu.tournaments')
      %ul
        %li
          %a(href="#") Ying's Cup
        %li
          %a(href="#") Samsung's Cup
  %br(style="clear:left")