#myslidemenu.jqueryslidemenu
  %ul
    %li.homepage
      %a{:href=>root_url}= t('menu.home')
    %li.uploads
      %a{:href=>uploads_url}= t('menu.uploads')
    %li.upload_search
      %a{:href=>upload_search_url}= t('menu.upload_search')
    %li.players
      %a{:href=>players_url}= t('menu.players')
    %li.pairs
      %a{:href=>pairs_url}= t('menu.pairs')
    %li.games
      %a{:href=>games_url}= t('menu.games')
    - if logged_in?
      %li
        &nbsp;&nbsp;&nbsp;&nbsp;
      -#%li.my_invitations
        %a{:href=>invitations_url}= t('menu.invitations')
      %li.my_uploads
        %a{:href=>my_uploads_url}= t('menu.my_uploads')
    -# - if is_admin?
    -#   %li.admin_players
    -#     %a{:href=>admin_players_url}= t('menu.admin_players')
    -#   %li.admin_games
    -#     %a{:href=>admin_games_url}= t('menu.admin_games')
    -#   -#%li.my_favorites
    -#     %a{:href=>'#'}= t('menu.my_favorites')
  %br(style="clear:left")
