= link_to "Gocool", main_app.root_path, :class => 'brand'
%ul.nav
  %li.uploads
    %a{:href=>cool_games.uploads_path}= t('menu.uploads')
  %li.upload_search
    %a{:href=>cool_games.upload_search_path}= t('menu.upload_search')
  %li.players
    %a{:href=>cool_games.api_players_path}= t('menu.players')
  -#%li.pairs
  -#  %a{:href=>cool_games.pairs_path}= t('menu.pairs')
  %li.games
    %a{:href=>cool_games.api_games_path}= t('menu.games')
  - if user_signed_in?
    %li
      = link_to(t('menu.invitations'), cool_games.api_invitations_path)
    %li
      = link_to('Logout', main_app.destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', main_app.api_sessions_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', main_app.edit_user_registration_path)
    -#- if current_user.has_role? :admin
    -#  %li
    -#    = link_to('Admin', main_app.users_path)
  - else
    %li
      = link_to('Sign up', main_app.new_user_registration_path)
