!!! transitional
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title= "Admin TODO"

    = stylesheet_link_tag "active_scaffold/default/stylesheet.css"
    /[if IE]
      = stylesheet_link_tag "active_scaffold/default/stylesheet-ie.css"

    = include_jquery
    = javascript_include_tag %W(prototype effects controls dragdrop)
    = active_scaffold_includes

    = yield :head
  %body
    #container
      = yield
      = yield :footer
