!!! transitional
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %title= @page_title

    = stylesheet_link_tag "active_scaffold/default/stylesheet.css"
    /[if IE]
      = stylesheet_link_tag "active_scaffold/default/stylesheet-ie.css"

    = stylesheet_link_tag 'compiled/discuz.css', :media => 'screen, projection'
    -#= stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = yield :head
  %body.bp
    = render 'discuz/header'
    #container
      %hr.space
      = yield

      = include_jquery
      :javascript
        var gocool_locale = "#{@locale}";
      = render "layouts/menu_js"
      = javascript_include_tag %w(application tooltip)
      = yield :footer

      %p &nbsp;
      #cursor
      = image_tag "arrow.gif", :id => "pointer", :alt => "", :width => 0, :height => 0
    = render 'discuz/footer'
