!!! transitional
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %link(rel="icon" type="image/x-icon" href="/app/favicon.ico")
    %title= @page_title

    = stylesheet_link_tag 'compiled/discuz.css'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css'

    - if RAILS_ENV == 'development' # Javascript debug help
      = javascript_include_tag "stacktrace"
      :javascript
        window.onerror = function() {
          alert(printStacktrace().join('\n\n'));
        }

    - if @admin_page
      = include_jquery
      = render 'layouts/js_init'
      = include_javascripts :admin

    = yield :head
  %body.bp
    = render 'discuz/header'
    #container
      %hr.space

      = yield

      %hr.space
      #cursor
      = image_tag "arrow.gif", :id => "pointer", :alt => "", :width => 0, :height => 0

      #firefox_container(style="display:none")= t('shared.recommend_firefox')
    = render 'discuz/footer'
    - unless @admin_page
      = include_jquery
      = render 'layouts/js_init'
      = include_javascripts :common
    = yield :footer
