!!! html
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %link{:rel => "icon", :type => "image/x-icon", :href => "#{ENV['BASE_URL']}/favicon.ico"}
    %title= @page_title

    = formtastic_stylesheet_link_tag if @formtastic
    = stylesheet_link_tag 'screen.css'
    /[if IE]
      = stylesheet_link_tag 'ie.css'

    = csrf_meta_tags
    = yield :head
  %body.bp
    #menu-container
      = render "layouts/menu_body"
    #container
      %hr.space

      = yield

      %hr.space
      #cursor
      = image_tag "arrow.gif", :id => "pointer", :alt => "", :width => 0, :height => 0

    = render 'layouts/js_init'
    = javascript_include_tag 'application'
    = yield :footer
