!!! transitional
%html
  %head
    %meta(http-equiv="content-type" content="text/html;charset=UTF-8")
    %link(rel="icon" type="image/x-icon" href="/app/favicon.ico")
    %title= @page_title

    = formtastic_stylesheet_link_tag if @formtastic
    = stylesheet_link_tag 'compiled/discuz.css'
    /[if IE]
      = stylesheet_link_tag 'compiled/ie.css'

    - if Rails.env == 'development' # Javascript debug help
      = javascript_include_tag "stacktrace"
      :javascript
        window.onerror = function() {
          alert(printStacktrace().join('\n\n'));
        }

    = yield :head
  %body.bp
    = render 'discuz/header'
    #container
      %hr.space

      = yield

      %hr.space
      #cursor
      = image_tag "arrow.gif", :id => "pointer", :alt => "", :width => 0, :height => 0

      #firefox_container(style="display:none")=raw t('shared.recommend_firefox')
    = render 'discuz/footer'
    =raw include_jquery
    = render 'layouts/js_init'
    =raw include_javascripts(:common)
    = yield :footer
